*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# sam-cdk-beta
.aws-sam

# lambda layer
bundle-node_modules
bundle-common

# 本来は管理に含めるべきだがサンプル用なので除外
cdk.context.json
.env